body {
  background-color: rgb(26, 140, 255);
}

h3 {
  font-family: 'Merriweather', serif;
  color: orange;
}
ul {
  font-family: verdana,sans-serif;
  color: black;
}
.text {
  font-family: times, serif;
  color: red;
}

table{
  border: solid black;
}

th

td
.firstandpikeh3 {
  float: left;
  margin: 20px;
  border-radius: 25px;
  max-width: 1920px;
  width: 25%;
  height:auto;
  background: rgba(240, 240, 240, 0.8);
  padding: 20px;
}
